.animals {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
  
.animal {
    flex-basis: 28%;
    margin: 1em;
    padding: 1em;
    border: 1px solid goldenrod;
}

.breedStyling {
    font-weight: 700;
}

.customerStyling {
    font-weight: 700;
}

.animalName {
    font-size: 22pt
}